.covid-header{
  text-align: center;
  background-color:white;
  font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
  color: black;
  font-style: italic;
  font-size: 24px;
  font-weight: bold;
}